@model IEnumerable<dynamic>


    @using PagedList;
    @using PagedList.Mvc;

    <div class="fix-overflow">
        <a href="#closePendingApprovalsPanel" class="close-panel"><img src="/images/close-panel.png"></a>
    </div>

    <ul class="pending_approvals_list">

        @if (ViewBag.NoRecordMsg != null)
        {
            <li><p class="error-msg"> @ViewBag.NoRecordMsg </p>  </li>
        }
        else
        {
            <li>
                @{
            if (ViewBag.Pagecount > 5)
            {
                <div id="CustPendingApproval">
                    @Html.PagedListPager((IPagedList)ViewBag.CustPendingApproval, page => Url.Action("GetPendingApproval", new { page, @class = "pagination" }), new PagedListRenderOptions { DisplayEllipsesWhenNotShowingAllPageNumbers = false, DisplayLinkToFirstPage = PagedListDisplayMode.Never, DisplayLinkToLastPage = PagedListDisplayMode.Never })
                </div>
            }
                }
            </li>
            foreach (var item in ViewBag.CustPendingApproval)
            {
                //var query = ViewBag.ConflictCustomer;
                string strAddrs = "";
                string CountryPhone = "";

                strAddrs = item.Addess1 + "" + item.Addess2 + "/" + item.Addess3 + "/" + item.State;
                CountryPhone = item.Country + "/" + item.Phone + "/" + item.fax;
                if (item.DuplicateCustomerName != "" && (item.AgentName != item.DuplicateAgentName))
                {
                    <li id="@item.customer_id">
                        <p><input type="hidden" class="StakeholderId" id="StakeholderId" name="stakeholderId" value=@item.customer_id /></p>
                        <p class="title"><strong>Add Customer Request</strong></p>
                        <p class="details"> @item.AgentName</p>
                        <p class="title"><strong> @item.CustomerName</strong></p>
                        @if (strAddrs.Contains("//"))
                        {
                            strAddrs = strAddrs.Remove(strAddrs.Length - 1);
                        }
                        @if (CountryPhone.Contains("//"))
                        {
                            CountryPhone = CountryPhone.Remove(CountryPhone.Length - 1);
                        }
                        @if (strAddrs.Substring(strAddrs.Length - 1) == "/")
                        {
                            strAddrs = strAddrs.Remove(strAddrs.Length - 1);
                        }
                        @if (CountryPhone.Substring(CountryPhone.Length - 1) == "/")
                        {
                            CountryPhone = CountryPhone.Remove(CountryPhone.Length - 1);
                        }
                        <p class="details">  @strAddrs </p>
                        <p class="details">  @CountryPhone </p>
                        <p class="see_conflict"><a href="#seeConflict">See Conflict</a></p>

                        <div class="see_conflict_details hidden">
                            <div class="fix-overflow close_btn">
                                <a href="#closeSeeConflict" class="close-panel"><img src="/images/close-panel.png"></a>
                            </div>

                            <div class="details_full">
                                <p class="title"><strong>Attention!</strong></p>

                                <p class="details">1. A customer with @item.CustomerName and @strAddrs is currently assigned to another agent: @item.DuplicateAgentName.</p>

                                <p class="details">Approving the assignment of @item.CustomerName to a new agent: @item.AgentName, will terminate the assignment to the  @item.DuplicateAgentName </p>
                                @*@if (@item.ordStatus != "Completed")*@
                                @if (@item.ordCount != 0)
                                {
                                    <p class="details">2. @item.DuplicateCustomerName has an open order with another agent: @item.DuplicateAgentName, therefore cannot be transferred to a new agent: @item.AgentName at this time.</p>
                                }
                            </div>
                            @if (@item.ordCount != 0)
                            { }
                            else
                            {
                                <select class="select-input select_action-@item.customer_id" data-id="@item.customer_id">
                                    <option>Select Action</option>
                                    <option value="approve">Approve</option>
                                    <option value="deny">Deny</option>
                                </select>
                            }
                            <div class="take_action_panel choose_action hidden">
                                <div class="fix-overflow close_btn">
                                    <a href="#closeTakeAction" class="close-panel"><img src="/images/close-panel.png"></a>
                                </div>

                                <p class="title"><strong>Confirm Action</strong></p>

                                <p class="details">Are you sure you want to commit to this action?</p>

                                <textarea class="textarea-input remark-@item.customer_id" data-id="@item.customer_id" placeholder="Type Remark" id="@item.DuplicateCustId" maxlength="500" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type Remark'"></textarea>
                                <input type="hidden" data-id="@item.DuplicateCustId" id="DuplicateCustId">
                                <span id="ApproveCustomerErrors-@item.customer_id" class="error-msg"></span>
                                <a href="#confirmAssignment" class="btn" data-id="@item.customer_id" id="@item.agentId">Confirm</a>
                            </div>
                        </div>
                    </li>

                }
                else
                    if (item.AgentName == item.DuplicateAgentName)
                    {
                        <li id="@item.customer_id">
                            <p><input type="hidden" class="StakeholderId" id="StakeholderId" name="stakeholderId" value=@item.customer_id /></p>
                            <p class="title"><strong>Add Customer Request</strong></p>
                            <p class="details"> @item.AgentName</p>
                            <p class="title"><strong> @item.CustomerName</strong></p>
                            @if (strAddrs.Contains("//"))
                            {
                                strAddrs = strAddrs.Remove(strAddrs.Length - 1);
                            }
                            @if (CountryPhone.Contains("//"))
                            {
                                CountryPhone = CountryPhone.Remove(CountryPhone.Length - 1);
                            }
                            @if (strAddrs.Substring(strAddrs.Length - 1) == "/")
                            {
                                strAddrs = strAddrs.Remove(strAddrs.Length - 1);
                            }
                            @if (CountryPhone.Substring(CountryPhone.Length - 1) == "/")
                            {
                                CountryPhone = CountryPhone.Remove(CountryPhone.Length - 1);
                            }
                            <p class="details">  @strAddrs </p>
                            <p class="details">  @CountryPhone </p>
                            <p class="see_conflict"><a href="#seeConflict">See Conflict</a></p>

                            <div class="see_conflict_details hidden">
                                <div class="fix-overflow close_btn">
                                    <a href="#closeSeeConflict" class="close-panel"><img src="/images/close-panel.png"></a>
                                </div>

                                <div class="details_full">
                                    <p class="title"><strong>Attention!</strong></p>

                                    <p class="details">A customer with @item.CustomerName and @strAddrs is already exist with same agent @item.AgentName .</p>
                                    <p class="details">Reject the assignment of @item.CustomerName .</p>
                                </div>
                                <select class="select-input select_action-@item.customer_id" data-id="@item.customer_id">
                                    <option>Select Action</option>
                                    <option value="deny">Deny</option>
                                </select>

                                <div class="take_action_panel choose_action hidden">
                                    <div class="fix-overflow close_btn">
                                        <a href="#closeTakeAction" class="close-panel"><img src="/images/close-panel.png"></a>
                                    </div>

                                    <p class="title"><strong>Confirm Action</strong></p>

                                    <p class="details">Are you sure you want to commit to this action?</p>

                                    <textarea class="textarea-input remark-@item.customer_id" data-id="@item.customer_id" placeholder="Type Remark" maxlength="500" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type Remark'"></textarea>
                                    <span id="ApproveCustomerErrors-@item.customer_id" class="error-msg"></span>
                                    <a href="#confirmAssignment" class="btn" data-id="@item.customer_id">Confirm</a>
                                </div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li id="@item.customer_id">

                            <p><input type="hidden" class="StakeholderId" id="StakeholderId" name="stakeholderId" value=@item.customer_id /></p>
                            <p class="title"><strong>Add Customer Request</strong></p>
                            <p class="details"> @item.AgentName</p>
                            <p class="title"><strong> @item.CustomerName</strong></p>

                            @if (strAddrs.Contains("//"))
                            {
                                strAddrs = strAddrs.Replace(@"//", "/");// strAddrs.Remove(strAddrs.Length - 1);
                            }
                            @if (strAddrs.Substring(strAddrs.Length - 1) == "/")
                            {
                                strAddrs = strAddrs.Remove(strAddrs.Length - 1);
                            }
                            @if (strAddrs != "")
                            {
                                if (strAddrs.Substring(0, 1) == "/")
                                {
                                    strAddrs = strAddrs.Replace(@"/", "");
                                }
                            }

                            @if (CountryPhone.Contains("//"))
                            {
                                CountryPhone = CountryPhone.Replace(@"//", "/");//CountryPhone.Remove(CountryPhone.Length - 1);
                            }
                            @if (CountryPhone.Substring(CountryPhone.Length - 1) == "/")
                            {
                                CountryPhone = CountryPhone.Remove(CountryPhone.Length - 1);
                            }
                            @if (CountryPhone != "")
                            {
                                if (CountryPhone.Substring(0, 1) == "/")
                                {
                                    CountryPhone = CountryPhone.Replace(@"/", "");
                                }
                            }

                            <p class="details">  @strAddrs </p>
                            <p class="details">  @CountryPhone </p>

                            <select class="select-input select_action-@item.customer_id" data-id="@item.customer_id">
                                <option>Select Action</option>
                                <option value="approve">Approve</option>
                                <option value="deny">Deny</option>
                            </select>

                            <div class="take_action_panel choose_action hidden" data-id="@item.customer_id">
                                <div class="fix-overflow close_btn">
                                    <a href="#closeTakeAction" class="close-panel"><img src="/images/close-panel.png"></a>
                                </div>

                                <p class="title"><strong>Confirm Action</strong></p>

                                <p class="details">Are you sure you want to commit to this action?</p>

                                <textarea class="textarea-input remark-@item.customer_id" data-id="@item.customer_id" placeholder="Type Remark" maxlength="500" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type Remark'"></textarea>
                                <span id="ApproveCustomerErrors-@item.customer_id" class="error-msg"></span>
                                <a href="#confirmAssignment" class="btn" data-id="@item.customer_id">Confirm</a>
                            </div>
                        </li>
                    }
            }
        }
    </ul>

    <script type="text/javascript">
        $('.pending_approvals_list').on('change', 'select', function () {

            $(this).next('.take_action_panel').show();
        });

        $('.take_action_panel').on('click', 'a[href="#closeTakeAction"]', function () {

            $(this).closest('.take_action_panel').find(".error-msg").hide();

            $(".take_action_panel").find("#ApproveCustomerErrors").hide();
            $('.select-input').find('option:first').attr('selected', 'selected')
            $(this).closest('.take_action_panel').hide();
            $('.textarea-input').val('');
            $('.select_action').find('option:first').attr('selected', 'selected')

        });

        $('.take_action_panel').on('click', 'a[href="#confirmAssignment"]', function () {

            var id = $(this).attr('data-id');
            var duplicateCustId = $('.remark-' + id).attr('id');
            var $SelectedText = $('.select_action-' + id).val();
            //alert(duplicateCustId);ApproveCustomerErrors
            if ($SelectedText == "Select Action") {
                $(".take_action_panel").find("#ApproveCustomerErrors-" + id).show();
                $(".take_action_panel").find('#ApproveCustomerErrors-' + id).html("<p class='error-msg'>Please select Action !");
            }
            else if ($('.remark-' + id).val().trim() == "") {
                $(".take_action_panel").find("#ApproveCustomerErrors-" + id).show();
                $(".take_action_panel").find('#ApproveCustomerErrors-' + id).html("<p class='error-msg'>Please Enter Remark !");
            }
            else {

                //var allVals = [];
                // allVals = $SelectedText + "," + id + "," + $('.remark-' + id).val();
                if ($(this).attr('id') != 0)
                    allVals = {
                        customerAction: $SelectedText,
                        custid: id,
                        remark: $('.remark-' + id).val(),
                        conflictAgentid: $(this).attr('id'),
                        DuplicateCustId: duplicateCustId
                    }
                else allVals = $SelectedText + "," + id + "," + $('.remark-' + id).val();

                $.ajax({
                    //url: "/ProductionPlanner/SubmitCustomerAction/?allVals=" + allVals,
                    url: "/ProductionPlanner/SubmitCustomerAction/",
                    data: allVals,
                    contentType: "application/html; charset=utf-8",
                    type: "GET",
                    dataType: 'html',
                    context: document.body,
                })
                         .success(function (result) {
                             RefreshPagination();
                         })
                RefreshRecentPendingApproval();

                $(this).closest('.take_action_panel').hide();
                // $("#quickViewRecentApprovals").load(location.href + " #quickViewRecentApprovals");
                if ($(this).hasClass('in_order_details')) {
                    $(this).closest('.new_order_details').hide();
                    $('#closeNewOrders').show();
                    $('#newOrdersBulkAction').show();
                    $('#newOrdersList').show();
                    $('#newOrdersPanel').show();

                }
                $(this).closest('li').remove();

                //RefreshPagination();

            }
        });

        function RefreshRecentPendingApproval() {
            $.ajaxSetup({ cache: false });
            $.ajax({
                url: "/ProductionPlanner/RecentPendingApproval/",
                contentType: "application/html; charset=utf-8",
                type: "GET",
                dataType: 'html',
                context: document.body,
            })
                            .success(function (result) {
                                $('#quickView').show();
                                $('#quickViewRecentApprovals').html(result);
                            })
                           .error(function (xhr, ajaxOptions, thrownError) {
                           })
        }

        $('#CustPendingApproval').on('click', 'a', function () {
            // alert("QuickView");


            $.ajax({
                url: this.href,
                contentType: "application/html; charset=utf-8",
                type: "GET",
                dataType: 'html',
                context: document.body,
            })
                                   .success(function (result) {
                                       $('#newOrdersPanel, #mismatchesPanel, #productionPlansPanel').hide();

                                       $('#pendingApprovalsPanel').show();
                                       $('#pendingApprovalsPanel').html(result);
                                       $('#pendingApprovalsPanel').trigger("Click");

                                       $('html,body').animate({
                                           scrollTop: $('#pendingApprovalsPanel').position().top
                                       }, 400);
                                   })
                       .error(function (xhr, ajaxOptions, thrownError) {
                       })

        });


        function RefreshPagination() {



            $.ajax({
                url: "/ProductionPlanner/GetPendingApproval/",
                contentType: "application/html; charset=utf-8",
                type: "GET",
                dataType: 'html',
                context: document.body,
            })
              .success(function (result) {
                  // hide other panels
                  $('#newOrdersPanel, #mismatchesPanel, #productionPlansPanel').hide();

                  $('#pendingApprovalsPanel').html('');
                  $('#pendingApprovalsPanel').show();
                  $('#pendingApprovalsPanel').html(result);


              })
                       .error(function (xhr, ajaxOptions, thrownError) {
                       })


        }



    </script>

    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                beforeSend: function () {
                    $("#loading").show();
                },
                complete: function () {
                    $("#loading").hide();
                }
            });

        });

    </script>
