@*@model IEnumerable<MWV.Models.Order>*@

<table>

    <tbody>
        @foreach (var item in ViewBag.res)
        {
            <tr>
                <td>
                    OrderId : @item.order_id
                </td>
            </tr>
            <tr>
                <td>
                    order_date : @item.order_date
                </td>
            </tr>
            <tr>
                <td>
                    customer_id : @item.customer_id
                </td>
            </tr>
            <tr>
                <td>
                    requested_delivery_date : @item.requested_delivery_date
                </td>
            </tr>
            <tr>
                <td>
                    remarks : @item.remarks
                </td>
            </tr>
            <tr>
                <td>
                    amount : @item.amount
                </td>
            </tr>
            <tr>
                <td>
                    papermill_id : @item.papermill_id
                </td>
            </tr>
            <tr>
                <td>
                    created_on : @item.created_on
                </td>
            </tr>
            <tr>
                <td>
                    created_by : @item.created_by
                </td>
            </tr>
            <tr>
                <td>
                    created_by : @item.created_by
                </td>
            </tr>
        }
    </tbody>
</table>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.order_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.agent_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.requested_delivery_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.papermill_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_on)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modified_on)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modified_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerpo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comments)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.order_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.agent_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.requested_delivery_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.papermill_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_on)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_by)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modified_on)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modified_by)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customerpo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comments)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.order_id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.order_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.order_id })
                </td>
            </tr>
        }

    </table>*@
