@model MWV.Models.Shade
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Delete";
}

<h2><b> Delete Shade ->@Html.ActionLink("Goto Home", "Index")</b></h2>
<br /><br />
  &nbsp;<span id="ErrorMsgs"></span>
<br />
&nbsp;<h3 class="form-label">&nbsp; Are you sure you want to delete this Shade?</h3>
<div>
    </br>
    <div class="form-group">
        <p class="form-label">&nbsp;Shade Code</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.shade_code, new { @class = "text-input", id = "ShadeCode", @readonly = "readonly", disabled = "disabled" })
        </div>
    </div>
    <div class="form-group">
        <p class="form-label">&nbsp;Description</p>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.description, new { @class = "text-input", id = "description", @readonly = "readonly", disabled = "disabled" })
        </div>
    </div>
    </br>

    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" id="btnDeleteShade" />
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" title="Cancel" value="Cancel" id="btnCancel" onclick="location.href='@Url.Action("Index", "ShadeAdmin")'" />
        </div>
    </div><br /><br />


</div>
</br>
<script type="text/javascript">

    $('#btnDeleteShade').click(function () {
        //
        var msg = "";
        var ShadeCode = $('#ShadeCode').val();

        var datatosend = {
            ShadeCode: ShadeCode
        }

        $.ajax({
            url: "/ShadeAdmin/DeleteShade/",
            data: datatosend,
            contentType: "application/html; charset=utf-8",
            type: "GET",
            dataType: 'html'
        })
                  .success(function (result) {
                      if (result == "True") {
                          msg = 'Shade details deleted successfully.!';
                          window.location.href = "/ShadeAdmin/Index?msg=" + msg;
                      }
                      else {
                          $("#ErrorMsgs").html("<p class='error-msg'>" + 'Can not delete.Shade Code is already in use.!' + "</p>");
                      }

                  })
                 .error(function (xhr, ajaxOptions, thrownError) {
                 })

    });
</script>