@model IdentitySample.Models.ChangePasswordViewModel
@{

}
<style>
    #tempbodySection li {
        list-style-type: none;
    }
</style>

<h2><b>Change Password Form</b></h2>


@using (Html.BeginForm("ChangePassword", "UsersAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary("", new { @class = "error-msg" })
    <p class="error-msg">&nbsp; @ViewBag.IncorrectPass</p>
    <br />
    <div class="form-group">
        <p class="form-label">&nbsp; Old Password</p>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "text-input", @placeholder = "Enter Old Password", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Old Password'" })
        </div>
    </div>
    <div class="form-group">
        <p class="form-label">&nbsp; New Password</p>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "text-input", @placeholder = "Enter New Password", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter New Password'" })
        </div>
    </div>
    <div class="form-group">
        <p class="form-label">&nbsp; Confirm Password</p>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "text-input", @placeholder = "Enter Confirmation Password", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Confirmation Password'" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
    <br />
}
