@model IdentitySample.Models.EditUserViewModel

@{
    
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Edit";
}
<style>
    table, td, th {
        border: 1px solid;
    }

    td {
        padding: 15px;
    }
    #tempbodySection li {
        list-style-type: none;  
    }
</style>

<br />

<h2 style="margin-top:80px"><b> Edit User / Account ->@Html.ActionLink("Goto Home", "Index")</b></h2>
<br />
&nbsp; @Html.ActionLink("Back to List", "Index")
<br /><br />
  &nbsp;<span id="ErrorMsgs" class="error-msg"></span>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <ul class="error-msg validation-summary-errors" style="padding-left: 104px;" data-valmsg-summary="true"></ul>
     @Html.ValidationSummary("", new { @class = "error-msg" })
        @Html.HiddenFor(model => model.Id)
       <div class="form-group">
            <p class="form-label">&nbsp; Company Name</p>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m. name, new { @class = "text-input", @placeholder = "Enter Name", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Full Name'" })
               
            </div>
        </div>

        <div class="form-group">
            <p class="form-label">&nbsp; First Name</p>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.firstName, new { @class = "text-input", @placeholder = "Enter First Name", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter First Name'" })
               
            </div>
        </div>
          <div class="form-group">
            <p class="form-label">&nbsp; Last Name</p>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.lastName, new { @class = "text-input", @placeholder = "Enter Last Name", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Last Name'" })
               
            </div>
        </div>
        <div class="form-group">
            <p class="form-label">&nbsp; Email</p>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "text-input", @placeholder = "Enter Email Id", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Email Id'" })
                
            </div>
        </div>

        <div class="form-group">
            <p class="form-label">&nbsp; Address</p>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.address, new { @class = "text-input", @placeholder = "Enter Full Address", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Full Address'" })
               
            </div>
        </div>

        <div class="form-group">
            <p class="form-label">&nbsp; Mobile No</p>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.mobile, new { @class = "text-input", @placeholder = "Enter Mobile Number", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Mobile Number'", @type = "number", @step = "any" })
                 
            </div>
        </div>

        <div class="form-group">
            <p class="form-label">&nbsp; Landline No</p>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.landline, new { @class = "text-input", @placeholder = "Enter Landline Number", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Landline Number'", @type = "number", @step = "any" })
                
            </div>
        </div>
        
        <div class="form-group">
            <p class="form-label">&nbsp; City</p>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.city, new { @class = "text-input", @placeholder = "Enter City Name", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter City Name'" })
            </div>
        </div>
    
        <div class="form-group">
            <p class="form-label">&nbsp; State</p>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.state, new { @class = "text-input", @placeholder = "Enter State Name", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter State Name'" })
            </div>
        </div>
        
        <div class="form-group">
            <p class="form-label">&nbsp;Contact Person Name</p>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.contactperson, new { @class = "text-input", @placeholder = "Enter Contact Person Name", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Contact Person Name'" })
            </div>
        </div>
        

         

            <br />
            <br />
            <center class="form-label">Select Roles</center> 
            <table align="center">
                <th>Select User Role</th>
                <th>Select Action</th>

                @foreach (var item in Model.RolesList)
                {
                    <tr>
                        @{
                            
                              if (item.Value == "Agent" || item.Value=="Customer")
            { 
                
            }
            else
            { 
                                   <td><input type="radio" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" onclick="handleClick(this)" /></td>
                        <td>@Html.Label(item.Value, new { @class = "control-label" })</td>
                              }
                        }
                       
                    </tr>
                    @*<input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="checkbox-inline" />*@
                }
            </table>

            <br />
            <div class="form-group">
                &nbsp; @Html.Label("Papermill to be assigned to the 'Machine Head'", new { @class = "form-label" })
                <span class=" col-md-10">
                    <select disabled id="papermill_id" name="papermill_list" class="select-input">
                        <option value="selectpaper">Select</option>
                        @foreach (var cat in ViewBag.Papermills_list)
                        {
                            <option value=@cat.Text>@cat.Text</option>
                        }

                    </select>
                </span>
            </div>
            <br />
            <div class="form-group">
                &nbsp; @Html.Label("location to be assigned to the 'Gatekeeper' and 'Dispatcher'", new { @class = "form-label" })
                <span class=" col-md-10">
                    <select disabled id="Milllocation" name="Location_list" class="select-input">
                        <option value="selectmill">Select</option>
                        @foreach (var item in ViewBag.Location_list)
                        {
                            <option value=@item.Text>@item.Text</option>
                        }
                    </select>
                </span>
            </div>
            <br />
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" id="btnEditSubmit" value="Create" />
                </div>
            </div>


    </div>
}



<script>
  
    $('#btnEditSubmit').click(function (evt) {
           
        $("#ErrorMsgs").html('');
        $('.validation-summary-errors li').remove();
        var loc = $('input[name="SelectedRole"]:checked').val();
        var locText = $("#Milllocation").val();
        var conper = $("#contactperson").val();
        var macText = $("#papermill_id").val();
        var $form = $('form');
        if (loc == undefined) {
            if (loc == undefined) {
                evt.preventDefault();

                //$("#ErrorMsgs").html('');
                $('.validation-summary-errors li').remove();
                $("#tempbodySection").find(".validation-summary-errors").append(
     "<li>" + "Please Select Role!" + "</li>");
                $('html,body').animate({
                    scrollTop: 0
                }, 400);

            }
            else {

                $(this).unbind(evt);

            }
        }
        else if (loc == "Dispatch") {
            if (locText == 'selectmill') {
                evt.preventDefault();
                //$("#ErrorMsgs").html('');
                //$("#ErrorMsgs").html('Please Select Dispatcher Location!');
                $('.validation-summary-errors li').remove();
                $("#tempbodySection").find(".validation-summary-errors").append(
     "<li>" + "Please Select Dispatcher Location!" + "</li>");
                $('html,body').animate({
                    scrollTop: 0
                }, 400);

            }
            else {
                $(this).unbind(evt);

            }
        }

        else if (loc == "GateKeeper") {
            if (locText == 'selectmill') {
                evt.preventDefault();
                //$("#ErrorMsgs").html('');
                //$("#ErrorMsgs").html('Please Select Gatekeeper Location!');
                $('.validation-summary-errors li').remove();
                $("#tempbodySection").find(".validation-summary-errors").append(
     "<li>" + "Please Select Gatekeeper Location!" + "</li>");
                $('html,body').animate({
                    scrollTop: 0
                }, 400);

            }
            else {
                $(this).unbind(evt);
            }


        }
        else if (loc == "Agent") {
            if (conper == '') {
                evt.preventDefault();
                //$("#ErrorMsgs").html('');
                //$("#ErrorMsgs").html('Please Enter Contact Person Name!');
                $('.validation-summary-errors li').remove();
                $(".validation-summary-errors").append(
   "<li>" + "Please Enter Contact Person Name!" + "</li>");
                $('html,body').animate({
                    scrollTop: 0
                }, 400);

            }
            else {
                $(this).unbind(evt);
            }


        }

        else if (loc == "MachineHead") {
            if (macText == 'selectpaper') {
                evt.preventDefault();
                //$("#ErrorMsgs").html('');
                //$("#ErrorMsgs").html('Please Select papermill Name!');
                $('.validation-summary-errors li').remove();
                $(".validation-summary-errors").append(
   "<li>" + "Please Select papermill Name!" + "</li>");
                $('html,body').animate({
                    scrollTop: 0
                }, 400);


            }
            else {
                $(this).unbind(evt);
            }

        }
        

        
    });

</script>

<script>
    var MilLocation = document.getElementsByName('SelectedRole').value;
    //document.getElementById("contactperson").disabled = true;
    var loc = $('input[name="SelectedRole"]:checked').val();

    if (loc == "Dispatch") {
        document.getElementById("contactperson").disabled = true;
        document.getElementById("Milllocation").disabled = false;
        document.getElementById("papermill_id").disabled = true;
        document.getElementById("Milllocation").selectedIndex = 0;
        document.getElementById("papermill_id").selectedIndex = 0;
        document.getElementById("contactperson").value = '';
       
    }
    else if (loc == "GateKeeper") {
        document.getElementById("contactperson").disabled = true;
        document.getElementById("Milllocation").disabled = false;
        document.getElementById("papermill_id").disabled = true;
        document.getElementById("Milllocation").selectedIndex = 0;
        document.getElementById("papermill_id").selectedIndex = 0;
        document.getElementById("contactperson").value = '';
    }
    else if (loc == "MachineHead") {
        
        document.getElementById("contactperson").disabled = true;
        document.getElementById("papermill_id").disabled = false;
        document.getElementById("Milllocation").disabled = true;
        document.getElementById("Milllocation").selectedIndex = 0;
        document.getElementById("papermill_id").selectedIndex = 0;
        document.getElementById("contactperson").value = '';
    }
    else if (loc == "Agent") {
        document.getElementById("contactperson").disabled = false;
        document.getElementById("Milllocation").disabled = true;
        document.getElementById("papermill_id").disabled = true;
        document.getElementById("Milllocation").selectedIndex = 0;
        document.getElementById("papermill_id").selectedIndex = 0;
        //document.getElementById("contactperson").value = '';
      //  document.getElementById("contactperson").value = '';
    }
    else {
        document.getElementById("contactperson").disabled = true;
        document.getElementById("papermill_id").disabled = true;
        document.getElementById("Milllocation").disabled = true;
        //$("#ErrorMsgs").html('');
        //$("#ErrorMsgs").html('Please Select Role!');
        document.getElementById("papermill_id").selectedIndex = 0;
        document.getElementById("Milllocation").selectedIndex = 0;
        document.getElementById("contactperson").value = '';
    }

</script>

<script type="text/javascript">
    var currentValue = 0;
    function handleClick(SelectedRole) {
        //alert('New value: ' + SelectedRole.value);
        if (SelectedRole.value == 'MachineHead') {
            document.getElementById("contactperson").disabled = true;
            document.getElementById("papermill_id").disabled = false;
            document.getElementById("Milllocation").disabled = true;
            document.getElementById("Milllocation").selectedIndex = 0;
            document.getElementById("papermill_id").selectedIndex = 0;
            document.getElementById("contactperson").value = '';
        }
        else if (SelectedRole.value == 'GateKeeper') {
            document.getElementById("contactperson").disabled = true;
            document.getElementById("Milllocation").disabled = false;
            document.getElementById("papermill_id").disabled = true;
            document.getElementById("Milllocation").selectedIndex = 0;
            document.getElementById("papermill_id").selectedIndex = 0;
            document.getElementById("contactperson").value = '';
        }
        else if (SelectedRole.value == "Dispatch") {
            document.getElementById("contactperson").disabled = true;
            document.getElementById("Milllocation").disabled = false;
            document.getElementById("papermill_id").disabled = true;
            document.getElementById("Milllocation").selectedIndex = 0;
            document.getElementById("papermill_id").selectedIndex = 0;
            document.getElementById("contactperson").value = '';

        }
        else if (SelectedRole.value == "Agent") {
            //alert("true");
            document.getElementById("contactperson").disabled = false;
            document.getElementById("Milllocation").disabled = true;
            document.getElementById("papermill_id").disabled = true;
            document.getElementById("Milllocation").selectedIndex = 0;
            document.getElementById("papermill_id").selectedIndex = 0;
            document.getElementById("contactperson").value = '';

        }

        else {
            document.getElementById("contactperson").disabled = true;
            document.getElementById("papermill_id").disabled = true;
            document.getElementById("Milllocation").disabled = true;
            //$("#ErrorMsgs").html('');
            //$("#ErrorMsgs").html('Please Select Role!');
            document.getElementById("papermill_id").selectedIndex = 0;
            document.getElementById("Milllocation").selectedIndex = 0;
            document.getElementById("contactperson").value = '';
        }
    }
</script>

<script>
    var myJsVariable = JSON.parse('@Html.Raw(Json.Encode(ViewBag.SelectMill))')
    if (myJsVariable != null) {
        var element = document.getElementById('papermill_id');
        element.value = myJsVariable;
    }
    else {
        document.getElementById("papermill_id").selectedIndex = 0;
    }

    var myJsVariableLoc = JSON.parse('@Html.Raw(Json.Encode(ViewBag.MillLoc))')
    if (myJsVariableLoc != null) {
        var elementLoc = document.getElementById('Milllocation');
        elementLoc.value = myJsVariableLoc;
    }
    else {
        document.getElementById("Milllocation").selectedIndex = 0;
    }



</script>
 

<div>
    &nbsp;   @Html.ActionLink("Back to List", "Index")
</div>
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
