@model IEnumerable<MWV.Models.Core>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    
    //  ViewBag.Title = "Index";
    string msg = @ViewBag.Message;
}
<style>
    table, td, th {
        border: 1px solid;
        border-collapse:collapse;
    }
</style>

<h2 style="margin-top:80px">Core HomePage->@Html.ActionLink("Create New Core", "Create")</h2>
<center class="form-label"><b>List Of Core's</b></center>
<span id="ErrorMsgs"><p class='error-msg'>@msg</p></span>

<table align="center">
    <tr>
        <th>
            <h1><b>Core Code </b></h1>
        </th>
        <th>
            <h1><b>Core Description </b></h1>
        </th>
        <th>
            <h1><b>Action</b></h1>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.core_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Details", new { id = item.core_code }) |
                @Html.ActionLink("Delete", "DeleteDetails", new { id = item.core_code })
            </td>


        </tr>
    }

</table>
<br />

