@*@model IEnumerable<MWV.Models.Truck_dispatches>*@

@*<div class="fix-overflow">
        <a href="#closeSearchResults" class="close-panel"><img src="images/close-panel.png"></a>
    </div>

    <p class="show_header"><strong>Show:</strong></p>

    <select class="select-input">
        <option value="all-vehicles">All Vehicles</option>
        <option value="show-arrived">Show Arrived</option>
        <option value="show-departed">Show Departed</option>
        <option value="show-in-queue">Show In Queue</option>
    </select>*@

<ul class="vehicle_results">
    @if (ViewBag.NoRecordMsg != null)
    {
       <li><p class="error-msg"> @ViewBag.NoRecordMsg </p>  </li>
    }
    else
    {
        foreach (var item in ViewBag.searchresult)
        {
            <li class="not_arrived not_departed">
                <p class="title"><strong>Vehicle # @item.truck_no</strong></p>
                <p class="title"><strong>@item.agentdetails.name</strong></p>

                <p class="details">
                    Est. Arrival: @item.estimated_arrival.ToString("dd MMM yyyy hh:mm tt")<br>
                    @{string status = "";}
                    @{string statusDispatch = "";}
                    @if (@item.actual_arrival_at_gate == null)
                    {
                        status = " Arrival: Pending";
                    }
                    else
                    {
                        status = "Arrived: " + @item.actual_arrival_at_gate.ToString("dd MMM yyyy hh:mm tt");
                    }
                    @if (@item.status == "Dispatched") //if  truck is loaded by dispature the status will be dispatched.
                    {
                        statusDispatch = "Departure: Loading Completed";
                    }
                    else if (@item.status == "Completed")  //if  truck is left on factory then the status will be Completed.
                    {
                        statusDispatch = "Departed: " + @item.left_factory_on.ToString("dd MMM yyyy hh:mm tt");
                    }
                    else
                    {
                        statusDispatch = "Departure: Pending";
                    }

                    @status<br>
                    @statusDispatch
                </p>

                <a href="#seeVehicleDetails" data-id="@item.truck_dispatch_id" id="Today">See Details</a>
            </li>
        }
    }
</ul>


<script language="javascript">
    $('.vehicle_results').on('click', 'a[href="#seeVehicleDetails"]', function () {

        var text = $(this).attr('id');

        var $vehicleDetails = $('#dispatchDetails-' + $(this).attr('id'));

        var id = $(this).attr('data-id');
        // alert(id );
        var datatosend =
      {
          tdId: $(this).attr('data-id')
      }

        $.ajax({
            url: "/Dispatch/VehicleDispatchDetails/",
            data: datatosend,
            contentType: "application/html; charset=utf-8",
            type: "GET",
            dataType: 'html',
            context: document.body,
        })
                   .success(function (result) {
                       //    vehicleDetails - Today
                       $('#vehicleDetails-Today').hide();
                       if ($vehicleDetails.is(':hidden')) {
                           $(this).closest('.vehicle_schedule_details').hide();
                           $vehicleDetails.show();
                           $vehicleDetails.html(result);
                           $('#vehiclesSearchResults').hide();
                           $('html,body').animate({
                               scrollTop: $vehicleDetails.position().top
                           }, 400);
                       }
                   })
                  .error(function (xhr, ajaxOptions, thrownError) {
                  });



        //
        //  //var $vehicleDetails = $('#dispatchDetails-' + $(this).attr('id'));
        //  var $vehicleDetails = $('#dispatchDetails');

        //  var id = $(this).attr('data-id');
        //  //alert("truck_no: " + id);
        //  var datatosend =
        //{
        //    VehicleNumber: $(this).attr('data-id')
        //}
        //  $.ajax({
        //      url: "/Dispatch/VehicleDispatchDetails/",
        //      data: datatosend,
        //      contentType: "application/html; charset=utf-8",
        //      type: "GET",
        //      dataType: 'html',
        //      context: document.body,
        //  })
        //                  .success(function (result) {
        //                      //    vehicleDetails - Today
        //                      $('#vehicleDetails-Today').hide();
        //                      if ($vehicleDetails.is(':hidden')) {
        //                          $(this).closest('.vehicle_schedule_details').hide();
        //                          $vehicleDetails.show();
        //                          $vehicleDetails.html(result);

        //                          $('html,body').animate({
        //                              scrollTop: $vehicleDetails.position().top
        //                          }, 400);
        //                      }


        //                  })
        //                 .error(function (xhr, ajaxOptions, thrownError) {
        //                 })
        //
    });
</script>