@model IEnumerable<MWV.Models.Bf>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string msg = @ViewBag.Message;
}
<style>
    table, td, th {
        border: 1px solid;
        border-collapse:collapse;
    }
</style>

<h2 style="margin-top:80px">Bf HomePage->@Html.ActionLink("Create New Bf", "Create")</h2>
<center class="form-label"><b>List Of Bf's</b></center>
<span id="ErrorMsgs"><p class='error-msg'>@msg</p></span>

<table align="center">
    <tr>
        <th>
            <h1><b>Bf Code </b></h1>
        </th>
        <th>
            <h1><b>Bf Description </b></h1>
        </th>
        <th>
            <h1><b>Action</b></h1>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.bf_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Details", new { id = item.bf_code }) |
                @Html.ActionLink("Delete", "DeleteDetails", new { id = item.bf_code })
            </td>


        </tr>
    }

</table>
<br />

