@model MWV.Models.Papermill
@{

}

<style>
    table, td, th {
        border: 1px solid;
    }

    td {
        padding: 15px;
    }
</style>
<h2><b> Create New Papermill -> @Html.ActionLink("Goto Home", "Index")</b></h2><br />
    &nbsp;<span id="ErrorMsgs"></span><br />

@Html.AntiForgeryToken()
@Html.ValidationSummary("", new { @class = "text-error" })

<div class="form-group">
    <p class="form-label">&nbsp;Capacity</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.capacity, new { @class = "text-input", id = "capacity", @placeholder = "Enter capacity(upto 4 decimal digit)", @maxlength = "13", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter capacity(upto 4 decimal digit)'", @type = "number", @step = "any" })
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp; Min Width</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.min_width, new { @class = "text-input", id = "min_width", @placeholder = "Enter min_width(upto 4 decimal digit)", @maxlength = "7", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter min_width(upto 4 decimal digit)'", @type = "number", @step = "any" })
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp; Max Width</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.max_width, new { @class = "text-input", id = "max_width", @placeholder = "Enter max_width(upto 4 decimal digit)", @maxlength = "7", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter max_width(upto 4 decimal digit)'", @type = "number", @step = "any" })
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp;Location</p>
    <select class="select-input location_select" id="location">
        <option>select location</option>
        <option>Vapi</option>
        <option>Morai</option>
    </select>
</div>
<div class="form-group">
    <p class="form-label">&nbsp; Deckle Min</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.deckle_min, new { @class = "text-input", id = "deckle_min", @placeholder = "Enter deckle_min(upto 4 decimal digit)", @maxlength = "7", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter deckle_min(upto 4 decimal digit)'", @type = "number", @step = "any" })
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp; Deckle Max</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.deckle_max, new { @class = "text-input", id = "deckle_max", @placeholder = "Enter deckle_max(upto 4 decimal digit)", @maxlength = "7", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter deckle_max(upto 4 decimal digit)'", @type = "number", @step = "any" })
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp;Max Cuts</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.max_cuts, new { @class = "text-input", id = "max_cuts", @placeholder = "Enter max_cuts", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter max_cuts'", @type = "number", @step = "any" })
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp; Min Diameter</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.min_diameter, new { @class = "text-input", id = "min_diameter", @placeholder = "Enter min_diameter(upto 4 decimal digit)", @maxlength = "7", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter min_diameter(upto 4 decimal digit)'", @type = "number", @step = "any" })
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp; Max Diameter</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.max_diameter, new { @class = "text-input", id = "max_diameter", @placeholder = "Enter max_diameter(upto 4 decimal digit)", @maxlength = "7", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter max_diameter(upto 4 decimal digit)'", @type = "number", @step = "any" })
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp; Max Wt Child</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.max_weight_child, new { @class = "text-input", id = "max_weight_child", @placeholder = "Enter max_weight_child(upto 4 decimal digit)", @maxlength = "7", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter max_weight_child(upto 4 decimal digit)'", @type = "number", @step = "any" })
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp; Min Wt Jumbo</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.min_weight_jumbo, new { @class = "text-input", id = "min_weight_jumbo", @placeholder = "Enter min_weight_jumbo(upto 4 decimal digit)", @maxlength = "7", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter min_weight_jumbo(upto 4 decimal digit)'", @type = "number", @step = "any" })
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp; Max Wt Jumbo</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.max_weight_jumbo, new { @class = "text-input", id = "max_weight_jumbo", @placeholder = "Enter max_weight_jumbo(upto 4 decimal digit)", @maxlength = "7", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter max_weight_jumbo(upto 4 decimal digit)'", @type = "number", @step = "any" })
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp;PaperMill Name</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.name, new { @class = "text-input", id = "name", @placeholder = "Enter name", @maxlength = "100", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Name)'"})
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp;Address</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.address, new { @class = "text-input", id = "address", @placeholder = "Enter address", @maxlength = "100", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter address'" })
    </div>
</div>

<br />
<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" id="btnAddPapermill" value="Create" />
    </div>
</div>
<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" class="btn btn-default" title="Cancel" value="Cancel" id="btnCancel" onclick="location.href='@Url.Action("Index", "PaperMillAdmin")'" />
    </div>
</div>
<br />
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
