@model IEnumerable<MWV.Models.Agent>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{

    foreach (var items in Model)
    {
    <center><h1>Edit Agent</h1> </center>
         <br />
        <div class="form-group">
            <p class="form-label">&nbsp; Company Name</p>
            <p class="details">
                <input type="text" value="@items.name" class="text-input" id="name" />
        </div>

    <div class="form-group">
            <p class="form-label">&nbsp; First Name</p>
            <p class="details">
                <input type="text" value="@items.firstname" class="text-input" id="firstname" placeholder="Enter Agent First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Agent First Name'" />
                @*@Html.TextBoxFor(m => m.firstname, new { @class = "text-input", @placeholder = "Enter Agent First Name", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Agent First Name'" })*@
            </p>
        </div>
        <div class="form-group">
            <p class="form-label">&nbsp; Last Name</p>
            <input type="text" value="@items.lastname" class="text-input" id="lastname" placeholder="Enter Agent Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Agent Last Name'" />
            @* <p class="details">@Html.TextBoxFor(m => m.lastname, new { @class = "text-input", @placeholder = "Enter Agent Last Name", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Agent Last Name'" })</p>*@
        </div>
        <div class="form-group">
            <p class="form-label">&nbsp; Email</p>
            <p class="details">
                @*@Html.TextBoxFor(m => m.email, new { @class = "text-input", @placeholder = "Enter Agent Email", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Agent Name'" })*@
                <input type="text" value="@items.email"  class="text-input" id="email" placeholder="Enter Agent Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Agent Name'" />
            </p>
        </div>


        <div class="form-group">
                <p class="form-label">&nbsp; Mobile</p>
                @*<p class="details">@Html.TextBoxFor(m => m.mobile, new { @class = "text-input", @placeholder = "Enter Agent Mobile No", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Agent Mobile No'" })</p>*@
             <input type="text" value="@items.mobile" class="text-input" id="mobile" placeholder="Enter Agent Mobile No" onfocus="this.placeholder = ''" onblur="    this.placeholder = 'Enter Agent Mobile No'" />
            </div>
        <div class="form-group">
            <p class="form-label">&nbsp; landline</p>
            <p class="details">
                @* @Html.TextBoxFor(m => m.landline, new { @class = "text-input", @placeholder = "Enter Agent Landline No", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Agent Landline No'" })*@
                <input type="text" value="@items.landline" class="text-input" id="landline"  placeholder = "Enter Agent Landline No" onfocus = "this.placeholder = ''" onblur = "this.placeholder = 'Enter Agent Landline No'" />
            </p>
        </div>
        <div class="form-group">
            <p class="form-label">&nbsp; Address</p>
            <p class="details">
                <input type="text" value="@items.address" class="text-input" id="address" placeholder = "Enter Agent Address" onfocus = "this.placeholder = ''" onblur = "this.placeholder = 'Enter Agent Address'" />
                @*@Html.TextBoxFor(m => m.address, new { @class = "text-input", @placeholder = "Enter Agent Address", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Agent Address'" })*@
            </p>
        </div>
        <div class="form-group">
            <p class="form-label">&nbsp; Address 2</p>
        <p class="details">
                @* @Html.TextBoxFor(m => m.address2, new { @class = "text-input", @placeholder = "Enter Agent Address 1", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Agent Address 1'" })*@
                <input type="text" value="@items.address2" class="text-input" id="address2" placeholder = "Enter Agent Address 1" onfocus = "this.placeholder = ''" onblur = "this.placeholder = 'Enter Agent Address 1'"  />
            </p>
        </div>
        <div class="form-group">
            <p class="form-label">&nbsp; Address 3</p>
            <p class="details">
                <input type="text" value="@items.address3" class="text-input" id="address3" placeholder = "Enter Agent Address 2" onfocus = "this.placeholder = ''" onblur = "this.placeholder = 'Enter Agent Address 2'" />
                @* @Html.TextBoxFor(m => m.address3, new { @class = "text-input", @placeholder = "Enter Agent Address 2", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Agent Address 2'" })*@
            </p>
        </div>
        <div class="form-group">
            <p class="form-label">&nbsp; City</p>
            <p class="details">
                <input type="text" value="@items.city" class="text-input" id="city" placeholder = "Enter Agent City" onfocus = "this.placeholder = ''" onblur = "this.placeholder = 'Enter Agent City'"  />
                @* @Html.TextBoxFor(m => m.city, new { @class = "text-input", @placeholder = "Enter Agent City", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Agent City'" })*@
            </p>
        </div>
        <div class="form-group">
            <p class="form-label">&nbsp; State</p>
            <p class="details">
                <input type="text" value="@items.state" class="text-input" id="state"  placeholder = "Enter Agent State" onfocus = "this.placeholder = ''" onblur = "this.placeholder = 'Enter Agent State'" />
                @*@Html.TextBoxFor(m => m.state, new { @class = "text-input", @placeholder = "Enter Agent State", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Agent State'" })*@
            </p>
        </div>
        <div class="form-group">
            <p class="form-label">&nbsp; Pincode</p>
            <p class="details">
                @*@Html.TextBoxFor(m => m.pincode, new { @class = "text-input", @placeholder = "Enter Agent Pincode", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Agent Pincode'" })*@
                <input type="text" value="@items.pincode" class="text-input" id="pincode" placeholder = "Enter Agent Pincode" onfocus = "this.placeholder = ''" onblur = "this.placeholder = 'Enter Agent Pincode'" />
            </p>
        </div>
        <div class="form-group">
            <p class="form-label">&nbsp; Credit Days</p>
            <p class="details">
                <input type="text" value="@items.credit_days" class="text-input" id="credit_days" placeholder = "Enter Credit Days" onfocus = "this.placeholder = ''" onblur = "this.placeholder = 'Enter Credit Days'"  />
                @*@Html.TextBoxFor(m => m.credit_days, new { @class = "text-input", @placeholder = "Enter Credit Days", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Credit Days'" })*@
            </p>
        </div>
        <div class="form-group">
            <p class="form-label">&nbsp; Credit Limit</p>
            <p class="details">
                <input type="text" value="@items.credit_limit" class="text-input" id="credit_limit" placeholder = "Enter Credit Limit" onfocus = "this.placeholder = ''" onblur = "this.placeholder = 'Enter Credit Limit'" />
                @*@Html.TextBoxFor(m => m.credit_limit, new { @class = "text-input", @placeholder = "Enter Credit Limit", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Credit Limit'" })*@
        </p>
    </div>


        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="button" id="btnCreate" value="Create" class="btn btn-default" />*@
                <p class="error-msg" id="loginErrormsg"></p>
                <a href="#EditAgnt" class="btn btn-default" id="@items.agent_id">Edit</a>
            </div>
        </div>
    <br />

    }
}
    <div>
    @Html.ActionLink("Back to List", "Index")
</div>
<br />

<script type="text/javascript">
    $('#MasterDiv').on('click', 'a[href="#EditAgnt"]', function () {
        debugger;
        $("#ErrorMsgAgent").html('');

        var Result = {
            agent_id: $(this).attr('id'),
            name: $('#name').val(),
            firstname: $('#firstname').val(),
            lastname: $('#lastname').val(),
            email: $('#email').val(),
            mobile: $('#mobile').val(),
            landline: $('#landline').val(),
            address: $('#address').val(),
            address2: $('#address2').val(),
            address3: $('#address3').val(),
            city: $('#city').val(),
            state: $('#state').val(),
            pincode: $('#pincode').val(),
            credit_days: $('#credit_days').val(),
            credit_limit: $('#credit_limit').val(),
            password: $('#txtPassword').val(),
            ConformPassowrd: $('#txtConfirmPassword').val(),

        };
        var name = $('#name').val();
        var email = $('#email').val();
        var firstname = $('#firstname').val();
        var city = $('#city').val();

        var result = SetEditValidation(name, email, firstname, city, mobile)
        if (result == true) {
            $("#loginErrormsg").html('');
            var stringReqdata = JSON.stringify(Result);
            $.ajax({
                //async: true,
                type: "POST",
                url: "/AgentAdmin/Edit/",
                data: stringReqdata,
                dataType: "html",
                context: document.body,
                contentType: 'application/json; charset=utf-8'
            })
                           .success(function (data) {
                               debugger;
                               if (data == "false") {
                                   var email = $('#email').val();
                                   var newmsg = email + " is already taken!"
                                   $("#loginErrormsg").html('');
                                   $("#loginErrormsg").html(newmsg);

                                   // window.location.href = "/AgentAdmin/Index?msg=" + msg;
                               }
                               else {
                                   var msg = 'Changes has been Saved!';
                                   window.location.href = "/AgentAdmin/Index?msg=" + msg;

                               }




                           })
                          .error(function (xhr, ajaxOptions, thrownError) {
                          })


        }
    });

    function SetEditValidation(name, email, firstname, city, mobile) {

        if (name == "") {
            $("#loginErrormsg").html('');
            $("#loginErrormsg").html('Name Cannot Be Empty!');
            return false;

        }
        else if (email == "") {
            $("#loginErrormsg").html('');
            $("#loginErrormsg").html('Email Cannot Be Empty!');
            return false;
        }
        else if (firstname == "") {
            $("#loginErrormsg").html('');
            $("#loginErrormsg").html('Firstname Cannot Be Empty!');
            return false;
        }
        else if (mobile == "") {
            $("#loginErrormsg").html('');
            $("#loginErrormsg").html('Mobile No Cannot Be Empty!');
            return false;
        }
        else if (city == "") {
            $("#loginErrormsg").html('');
            $("#loginErrormsg").html('City Cannot Be Empty!');
            return false;
        }
        else {
            return true;

        }

    }
</script>