@model MWV.Models.Gsm
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    table, td, th {
        border: 1px solid;
    }

    td {
        padding: 15px;
    }
</style>

 &nbsp;<span id="ErrorMsgs"></span><br />

@Html.AntiForgeryToken()
@Html.ValidationSummary("", new { @class = "text-error" })

<div class="form-group">
    <h2 style="margin-top:80px !important;"><b> Create New GSM -> @Html.ActionLink("Goto Home", "Index")</b></h2><br />
</div>
<div class="form-group">
    <p class="form-label">&nbsp;Gsm Code</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.gsm_code, new { @class = "text-input", id = "GsmCode", @placeholder = "Enter Gsm Code(upto 15 char)", @maxlength = "15", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Gsm Code(upto 15 char)'" })
    </div>
</div>
<div class="form-group">
    <p class="form-label">&nbsp; Gsm Description</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.description, new { @class = "text-input", id = "GsmDescription", @placeholder = "Enter Gsm Description(upto 100 char)", @maxlength = "100", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Enter Gsm Description(upto 100 char)'" })
    </div>
</div>
<br /><br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" id="btnAddGsm" value="Create" />
    </div>
</div>
<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" class="btn btn-default" title="Cancel" value="Cancel" id="btnCancel" onclick="location.href='@Url.Action("Index", "GsmAdmin")'" />
    </div>
</div><br /><br />

<br /><br />

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@

<script type="text/javascript">

    function CheckGsmValidation() {
        var Gsm = $('#GsmCode').val();
        var GsmDescription = $('#GsmDescription').val();

        if ($('#GsmCode').val() == "Enter Gsm Code(upto 15 char)" || $('#GsmCode').val().trim() == "" || $('#GsmCode').val() == "") {
            $('#ErrorMsgs').html("<p class='error-msg'>Please enter GsmCode!</p>");
            return false;
        }
        else if ($('#GsmCode').val().length > 15) {
            $('#ErrorMsgs').html("<p class='error-msg'>GsmCode should contain 15 characters.!</p>");
            return false;
        }
        else if ($('#GsmDescription').val() == "Enter Gsm Description(upto 100 char)" || $('#GsmDescription').val().trim() == "" || $('#GsmDescription').val() == "") {
            $('#ErrorMsgs').html("<p class='error-msg'>Please enter Gsm Description!</p>");
            return false;
        }
        else if ($('#GsmDescription').val().length > 100) {
            $('#ErrorMsgs').html("<p class='error-msg'>Gsm Description should contain 100 characters.!</p>");
            return false;
        }

        else {
            return true;
        }
    }



    ///// ------------------FOR ADD Gsm-----------------------


    $('#btnAddGsm').click(function () {
        //
        var GsmCode = $('#GsmCode').val();
        var GsmDescription = $('#GsmDescription').val();
        var msg = "";

        if (CheckGsmValidation() == true) {
            var datatosend = {
                GsmCode: GsmCode,
                GsmDescription: GsmDescription
            }

            $.ajax({
                url: "/GsmAdmin/AddGsm/",
                data: datatosend,
                contentType: "application/html; charset=utf-8",
                type: "GET",
                dataType: 'html'
            })
                      .success(function (result) {
                          // alert(result);
                          if (result == "True") {
                              msg = 'Gsm details added successfully.!';
                              window.location.href = "/GsmAdmin/Index?msg=" + msg;
                          }
                          else {
                              $("#ErrorMsgs").html('');
                              $("#ErrorMsgs").html("<p class='error-msg'>" + 'Gsm Code already exists.!' + "</p>");
                          }

                      })
                     .error(function (xhr, ajaxOptions, thrownError) {
                     })
        }

    });
</script>
