@model IEnumerable<MWV.Repository.Implementation.Truck_dispatchRepository.tempTruckDispatchDetails>

<div class="fix-overflow">
    <a href="#closeReviewTransportationDetails" class="close-panel"><img src="/images/close-panel.png"></a>
</div>

<h2>Review Transportation Details</h2>

<div class="transportation_details_full">
    <p>Transportation Details For:</p>

    <p class="title"><strong>Vehicle # @ViewBag.truck_no</strong></p>

    <p class="title"><strong>Location: @ViewBag.location</strong></p>

    <p class="details">@ViewBag.address
    </p>

    <p class="details">
        Scheduled On: @ViewBag.created_on.ToString("dd MMM yyyy hh:mm tt")<br>
        Vehicle Capacity: @ViewBag.estimated_capacity MT<br>
        Scheduled Start: @ViewBag.agent_dispatched_on.ToString("dd MMM yyyy hh:mm tt")<br>
        Expected Arrival: @ViewBag.estimated_arrival.ToString("dd MMM yyyy hh:mm tt")<br>
       @{string status = "";}
    @{string statusDep = "";}
    @if (ViewBag.actual_arrival_at_gate == null)
    {
        status = "Pending";
    }
    else
    {
        status = "Arrived";
    }
    @if (ViewBag.left_factory_on == null)
    {
        statusDep = "Pending";
    }
    else
    {
        statusDep = "Departed";
    }

    Arrival: @status<br>
    Departure: @statusDep
    </p>
</div>

<!-- -----------------------------------------------------------------------------------------
    ORDERS: SEARCH RESULTS > ORDER DETAILS > REVIEW TRANSPORTATION > CARGO LIST
------------------------------------------------------------------------------------------ -->

<h2>Cargo List</h2>
@if (ViewBag.NoCargo != null)
{
    <p class="error-msg"> @ViewBag.NoCargo </p>
    <script language="javascript">
        $('#SubmitReviewDetails').hide();
    </script>
}
  else if (ViewBag.Qtymsg != null)
{
    <p class="error-msg"> @ViewBag.Qtymsg  </p>
    <script language="javascript">
        $('#SubmitReviewDetails').hide();
    </script>
}           
    else
{
         <script language="javascript">
        $('#SubmitReviewDetails').show();
    </script>
}     
<div class="cargo_list">
    <ul>
@foreach (var item in Model)
    {
        <li>
            <p class="po_number"><strong>PO: @item.order_id</strong></p>

            <p class="title"><strong>@Session["selectedOrderCustName"]</strong></p>
            @*<p class="details">@item.product_code</p>*@
            <p class="details">@string.Format("{0:#.00}", item.width) cm x @item.bf_code BF @item.gsm_code GSM @item.shade_code</p>
            <p class="details">Qty. For Loading: @item.qty MT</p>
        </li>
    }
    </ul>
</div> <!-- .cargo_list -->
